<div class="navbar-marilac">
  <div id="brand" class="navbar-marilac-brand">
    <%= cl_image_tag("Logo_Marilac_1_1_m0qbgh.jpg") %>
  </div>
  <div class="nav-index hidden-xs hidden-sm">
    <h4 class="cl-effect-1">
    <%= link_to "Quem somos", "#{root_path}#historia"  %>
    </h4>
    <h4 class="cl-effect-1">
      <%= link_to "Produtos", "#{root_path}#produtos"  %>
    </h4>
    <h4 class="cl-effect-1">
      <%= link_to "Social", "#{root_path}#social"  %>
    </h4>
    <h4 class="cl-effect-1">
      <%= link_to "Contato", "#{root_path}#contact"  %>
    </h4>
  </div>
  <div class="nav-index-compress hidden-md hidden-lg">
  <!-- Dropdown list para tela pequena -->
    <div class="navbar-marilac-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-indent dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to "Quem somos", "#{root_path}#historia"  %>
          </li>
          <li>
            <%= link_to "Produtos", "#{root_path}#produtos"  %>
          </li>
          <li>
            <% link_to "Social", "#{root_path}#social"  %>
            Social
          </li>
          <li>
            <% link_to "Contato", "#{root_path}#contact"  %>
            Contato
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
